@inherits LayoutComponentBase

<main class="container-fluid py-3 px-3 px-md-4">
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
